/* style.css */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  ul{ list-style-type: none;}
  a{
    text-decoration: none;
    color: #444;
  }
  body {
    color: #444;
    font-size: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    min-width: 1200px; /* 배경 잘림 방지 */
  }
  .img_responsive{ width: 100%;}
  
  /* 기본 틀 1200px */
  .container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* outline: 1px solid red; */
  }
  
 
  /* 헤더 */
  #main_header {
    height: 130px;
    /* background: #ccc; */
    text-align: center; 
}
  #main_header h1 {
    position: absolute;
    left: 40px; top: 33px;
  }
  #main_header #util_menu{
    position: absolute;
    right: 40px; top: 55px;
    font-size: 24px;
  }
  #main_header #util_menu > a {
    margin-left: 10px;
  }
  
  /* 검색창 */
  #search_box {
    width: 540px; height: 55px;
    display: inline-block;
    border: 1px solid #999;
    text-align: left;
    margin-top: 40px;
  }
  #search_box input, 
  #search_box button {
    font-size: 14px;
    color: #444;
    border: none;
  }
  #search_box button{ 
    cursor: pointer;
    float: right;
    font-size: 32px;
    padding: 5px;
    background: none;
    border: none;
    margin-top: 5px;
    margin-right: 15px;
  }
  #search_box > input {
    width: 470px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 1em;
    margin-top: 2px;  /* 상단 위치 보정값 */
  }
  
  
  /* 메인 GNB */
  #main_gnb {
    /* background: #ccc; */
  }
  #main_gnb .container {
    overflow: hidden;
  }
  #category_btn {
    font-size: 16px;
    float: left;
    /* 브랜드 메인 컬러 */
    background: #66666;
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 40px 15px 20px;
    cursor: pointer;
    margin-left: 40px;
  }
  #category_btn > i { 
    font-size: 24px;
    margin-right: 14px;
  }
  #category_btn > span { 
    display: inline-block;
    /* outline: 1px solid red; */
    transform: translateY(-4px);
  }
  #main_gnb ul {
    float: left;
    margin-left: 130px;
    height: 50px;
    /* outline: 1px solid green; */
  }
  #main_gnb ul > li { 
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }
  #main_gnb ul > li > a {
    display: block;
    padding: 19px 0px 15px 0px;
  }
}

/* 카테고리 메뉴 */
#category {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 99;
    display: none;
  }
  #category dl {
    float: left;
    width: 20%;
    padding: 40px;
    text-transform: uppercase; /* 대문자 */
    line-height: 2em;
  }
  #category dl dt {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid #444;
  }



  /* 메인배너 */
  #main_banner {
      position: relative;
      height: 550px;
      overflow: hidden;
      margin-top: 50px;
  }
  /* 배경 높이값 고정 & 위치 중앙 고정 */
#main_banner .inner{
    width: 1120px; height: 550px;
    position: absolute;

    /* 중앙정렬 */
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  /* outline: 2px solid red; */
}

/* bx slider 테두리 제거 */
.bx-wrapper{
    border: none !important;
}
  
/* 인디케이터 위치 조정 */
.bx-pager { 
    bottom: 20px !important;
}

/* NEW */
#new {
    text-align: center;
    padding: 50px 0;
    overflow: hidden;
    /* outline: 1px solid red; */
}

#new h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 24px;
}
#new ul > li {
    /* outline: 1px solid green; */
    width: 275px;
    float: left;
    margin-left: 100px;
    padding-bottom: 20px;
}
#new ul > li:last-child{ 
    margin-right: 0;
}
#new ul > li img {
    margin-bottom: 1em;
    display: block;
}
#new ul > li .title {
    font-size: 14px;
    display: block;
    font-weight: bold;
    margin-bottom: 1.5em;
}

#new ul > li .name {
    font-size: 14px;
    display: block;
    margin-bottom: 0.5em;
    
    /* 글자 중략 처리 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
 #new ul > li .price {
    font-size: 14px;
    display: block;
    color: #999;
    margin-bottom: 0.5em;
}

/* 서브 배너 */
#sub_banner {
  text-align: center;
  padding: auto 0; 
  overflow: hidden;
}
#sub_banner h2 {
  margin-bottom: 50px;
  font-size: 24px;  
}

/* footer */

#main_footer{
  position: relative;
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 50px 20px;
  color: #000000;
  float: left;
}
#main_footer > p, #main_footer > address {
  font-style: normal;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  margin: 10px;
}

/* 팝업 */
.popup.show {
  position: absolute;
  z-index: 999;
  right: 100px; top: 50px;
  text-align: center;
  width: 300px; height: 400px;
  color: #ffffff;
  background-image:url(images/pop_up.jpg);
  padding: 1em;
  padding-top: 250px;
  font-weight: bold;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  display: block;
  }
.popup{ display: none;}
.popup h2 {
  position: absolute;
  padding: 5px;
  top: 0; left : 5px;
}

.popup > .close_box{
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: right;
  padding: 5px 1em;
}